<% if user_signed_in? %>
<h1>Friend List</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
    </tr>
  </thead>

  <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user%>
          <tr>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>

            <td><button><%= link_to 'Show', friend  %></button></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>

<% else %>
  <h1>Friends</h1>
  <p>Welcome. Make sure you Sign in</p>
  <button><%= link_to 'Sign In', new_user_session_path%></button>
  <button><%= link_to 'Sign Up', new_user_registration_path%></button>
<% end %>


