<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
    </tr>
  </thead>

  <tbody>
      <% @friends.each do |friend| %>
        
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>

          <td><button><%= link_to 'Show', friend  %></button></td>
        </tr>
        
      <% end %>
    </tbody>
</table>



