<nav>
  <%= link_to 'Friend App', root_path%>
  <%= link_to 'Friends', friends_path%>
  <%= link_to 'Add Friend', new_friend_path%>
  <%= link_to 'Sign Out', root_path%>
  <%= link_to 'Edit Profile', root_path%>
</nav>